.profile__btn-add {
  background-image: url(../../../images/add-btn.svg);
  width: 153px;
  height: 52px;
  background-color: transparent;
  background-repeat:no-repeat;
  cursor:pointer;
  overflow: hidden;
  outline: none;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .profile__btn-add {
    width: 152px;
  }
}
@media screen and (max-width: 610px) {
  .profile__btn-add {
    width: 284px;
    background-image: url(../../../images/add-btn-large.svg);
  }
}

.profile__btn-add:hover {
  opacity: 0.6;
  transition: all ease-in-out 0.2s;
}


