.popup__close-icon {
  position: absolute;
  top: -43px;
  right: -41px;
  width: 32px;
  height: 32px;
  background-image: url(../../../images/close_icon.svg);
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

@media screen and (max-width: 610px) {
  .popup__close-icon {
    right: 0px;
  }
}

@media screen and (max-width: 320px) {
  .popup__close-icon {
    width: 20px;
    height: 20px;
    right: 0px;
  }
}

.popup__close-icon:hover {
  transition: opacity 0.3s ease-in-out;
  opacity: 0.6;
}
