.profile__btn-edit {
  background-image: url(../../../images/edit-btn.svg);
  width: 25px;
  height: 25px;
  background-color: transparent;
  background-repeat:no-repeat;
  border: 1px solid #fff;
  cursor:pointer;
  overflow: hidden;
  margin-bottom: 6px;
  outline: none;
  padding: 0;
}

@media screen and (max-width: 320px) {
  .profile__btn-edit {
    width: 18px;
    height: 18px;
    display: flex;
    background-position: center;
  }
}

.profile__btn-edit:hover {
  opacity: 0.8;
  transition: all ease-in-out 0.2s;
}
