.form__input-info {
  min-width: 358px;
  min-height: 27px;
  border: none;
  border-bottom: 1px solid #000;
  margin-bottom: 48px;
  margin-left: 36px;
  color: #000;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

@media screen and (max-width: 610px) {
  .form__input-info {
    min-width: 231px;
    margin-bottom: 36px;
  }
}

@media screen and (max-width: 320px) {
  .form__input-info {
    min-width: 238px;
    margin-left: 22px;
  }
}
