.popup__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-top: 34px;
  margin-left: 36px;
  margin-bottom: 54px;
  padding: 0;
  max-width: 330px;
}

@media screen and (max-width: 610px) {
  .popup__title {
    font-size: 18px;
    line-height: 22px;
    width: fit-content;
    margin-bottom: 36px
  }
}

@media screen and (max-width: 320px) {
  .popup__title {
    font-size: 18px;
    line-height: 22px;
    max-width: 238px;
    margin-top: 25px;
    margin-left: 22px;
    margin-bottom: 75px;
  }
}
